# Core functionality - changes here should be rare!
/src/app.py                   @LanternRyanWerts
/src/backend/database.py      @LanternRyanWerts
/src/backend/routers/auth.py  @LanternRyanWerts

# The frontend will need refactored soon to be more object oriented.
/src/static/   @LanternRyanWerts
